<%= form_with model: @war do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <% if defined?(current_user) && current_user&.admin? %>
    <div class="field">
      <%= f.label :category_ids, "Categories" %>
      <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, multiple: true %>
    </div>
  <% end %>
  <%= render "shared/category_picker",
      record: @war, object_name: :battle,
      scope: Category.wars.order(:name), legend: "Wars categories" %>


  <fieldset class="mb-3">
  <legend>Involvements (Soldiers)  AJAX</legend>

  <div data-controller="involvement-form">
    <!-- This carries the fixed involvable (this War) -->
    <div data-involvement-form-target="form"
         data-involvable-type="War"
         data-involvable-id="<%= @war.id %>">

      <!-- Soldier picker -->
      <div class="row g-2 align-items-end">
        <div class="col-md-5">
          <label class="form-label">Soldier</label>
          <input type="text"
                 class="form-control"
                 placeholder="Type to search soldiers"
                 list="soldier-suggest"
                 data-involvement-form-target="search">
          <datalist id="soldier-suggest" data-involvement-form-target="suggest"></datalist>
          <input type="hidden" data-involvement-form-target="participantId">
        </div>

        <div class="col-md-3">
          <label class="form-label">Role</label>
          <input type="text" class="form-control" data-involvement-form-target="role">
        </div>

        <div class="col-md-2">
          <label class="form-label">Year</label>
          <input type="number" min="1" max="2999" step="1" class="form-control" data-involvement-form-target="year">
        </div>

        <div class="col-md-12 mt-2">
          <label class="form-label">Note</label>
          <textarea rows="2" class="form-control" data-involvement-form-target="note"></textarea>
        </div>

        <div class="col-md-12 mt-2">
          <button type="button"
                  class="btn btn-sm btn-outline-primary"
                  data-action="involvement-form#add">
            Add involvement
          </button>
        </div>
      </div>
    </div>

    <hr class="my-3">

    <h6 class="mb-2">Current soldier involvements</h6>
    <ul class="list-unstyled" data-involvement-form-target="list">
      <% @war.involvements.includes(:participant).order(:year, :id).each do |inv| %>
        <li class="mb-2" data-involvement-row="<%= inv.id %>">
          <%# participant is a Soldier %>
          <%= link_to inv.participant_label, inv.participant_type == "Soldier" ? soldier_path(inv.participant_id) : "#" %>
          <%= "  " + content_tag(:strong, inv.role) if inv.role.present? %>
          <%= " (#{inv.year})" if inv.year.present? %>
          <%= "  " + content_tag(:em, inv.note) if inv.note.present? %>
          <button type="button"
                  class="btn btn-sm btn-outline-danger ms-2"
                  data-action="involvement-form#remove"
                  data-involvement-form-id-param="<%= inv.id %>">
            Remove
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</fieldset>


  <fieldset>
    <legend>Citations</legend>
    <div id="citations">
      <%= f.fields_for :citations do |cf| %>
        <%= render "citations/fields", f: cf, sources: @sources %>
      <% end %>
    </div>
  </fieldset>

  <div class="actions mt-3">
    <%= f.submit %>
  </div>
<% end %>
