<%= form_with model: @war do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <% if defined?(current_user) && current_user&.admin? %>
    <div class="field">
      <%= f.label :category_ids, "Categories" %>
      <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, multiple: true %>
    </div>

    <fieldset>
      <legend>Involvements</legend>
      <div id="involvements">
        <%= f.fields_for :involvements do |ivf| %>
          <%= ivf.hidden_field :_destroy %>
          <!-- fields: participant_type, participant_id, role, year, note -->
          <!-- Example: -->
          <!--
          <div>
            <%= ivf.label :participant_id, "Soldier" %>
            <%= ivf.collection_select :participant_id, Soldier.order(:last_name, :first_name), :id, :slug, include_blank: true %>
            <%= ivf.hidden_field :participant_type, value: "Soldier" %>
          </div>
          <div>
            <%= ivf.label :role %>
            <%= ivf.text_field :role %>
          </div>
          <div>
            <%= ivf.label :year %>
            <%= ivf.number_field :year %>
          </div>
          <div>
            <%= ivf.label :note %>
            <%= ivf.text_area :note %>
          </div>
          -->
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <fieldset>
    <legend>Citations</legend>
    <div id="citations">
      <%= f.fields_for :citations do |cf| %>
        <%= render "citations/fields", f: cf, sources: @sources %>
      <% end %>
    </div>
  </fieldset>

  <div class="actions mt-3">
    <%= f.submit %>
  </div>
<% end %>
