<%= form_with model: @record do |f| %>
  <div><%= f.label :name %><%= f.text_field :name %>
  </div>
  <div><%= f.label :year %><%= f.number_field :year %>
  </div>
  <%= f.submit %><% end %>

    <% if defined?(current_user) && current_user&.admin? %>
    <div class="field">
      <%= f.label :category_ids, "Categories" %>
      <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, multiple: true %>
    </div>
    <%= render "shared/category_picker",
      record: @soldier, object_name: :battle,
      scope: Category.soldiers.order(:name), legend: "Soldier categories" %>
