<%= form_with model: @soldier do |f| %>
   <fieldset>
    <%= render "list", soldiers: (@soldiers || Soldier.none) %>
  #   <legend>Soldier
  </legend>
  #   <div>
  #     <%= f.label :first_name %>
  #     <%#= f.text_field :first_name %>
  #   </div>
  #   <div>
  #     <%= f.label :last_name %>
  #     <%= f.text_field :last_name %>
  #   </div>
   </fieldset>

  <fieldset>
    <legend>Cemetery</legend>
    <%= f.collection_select :cemetery_id, Cemetery.order(:name), :id, :name, include_blank: true %>
  </fieldset>

  <fieldset>
    <legend>Awards (not medals)</legend>
    <%= f.fields_for :awards do |af| %>
      <div class="border p-2 mb-3 rounded">
        <%= af.label :name %>
        <%= af.text_field :name, placeholder: "e.g., Community Service Award" %>
        <%= af.label :country %>
        <%= af.text_field :country %>
        <%= af.label :year %>
        <%= af.number_field :year, in: 1000..3000, step: 1 %>
        <%= af.label :note %>
        <%= af.text_area :note, rows: 2 %>
        <label><%= af.check_box :_destroy %> Remove</label>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Citations</legend>
    <div data-controller="citations"
         data-citations-index-value="<%= @soldier.citations.size %>">

      <div data-citations-target="list">
        <% f.fields_for :citations do |cf| %>
          <div data-citations-wrapper>
            <%= render "citations/fields", f: cf, sources: @sources %>
          </div>
        <% end %>
      </div>

      <template data-citations-target="template">
        <div data-citations-wrapper>
          <%= f.fields_for :citations, Citation.new, child_index: "NEW_RECORD" do |cf| %>
            <%= render "citations/fields", f: cf, sources: @sources %>
          <% end %>
        </div>
      </template>

      <p>
        <button type="button"
                class="btn btn-sm btn-outline-primary"
                data-action="citations#add">Add citation</button>
      </p>
    </div>
  </fieldset>

  <fieldset>
    <legend>Medals</legend>
    <%= f.fields_for :soldier_medals do |mf| %>
      <div class="border p-2 mb-3 rounded">
        <%= mf.label :medal_id, "Medal" %>
        <%= mf.collection_select :medal_id, Medal.order(:name), :id, :name, include_blank: true %>
        <%= mf.label :year %>
        <%= mf.number_field :year, in: 1000..3000, step: 1 %>
        <%= mf.label :note %>
        <%= mf.text_area :note, rows: 2 %>
        <label><%= mf.check_box :_destroy %> Remove</label>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Wars</legend>
    <%= f.collection_select :category_ids,
          Category.wars.order(:name), :id, :name,
          { include_hidden: false },
          { multiple: true, size: 6 } %>
  </fieldset>

  <fieldset>
    <legend>Battles</legend>
    <%= f.collection_select :category_ids,
          Category.battles.order(:name), :id, :name,
          { include_hidden: false },
          { multiple: true, size: 8 } %>
  </fieldset>
  

  <%= f.submit %>
<% end %>
