<h1><%= controller_name.titleize %></h1>
<%= render "list", soldiers: (@soldiers || Soldier.none) %>
<p><%= link_to "New Soldier", new_soldier_path, class: "btn btn-primary" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Soldier Name</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @soldiers.each do |soldier| %>
      <tr>
        <td><%= link_to soldier.last_name, soldier %></td>
        <td><%= l(soldier.created_at, format: :short) rescue soldier.created_at %></td>
        <td>
          <%= link_to "Edit", edit_soldier_path(soldier), class: "btn btn-sm btn-secondary" %>
          <%= link_to "Delete", soldier, data: { turbo_method: :delete, turbo_confirm: "Delete this soldier?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
