<h1>Soldiers</h1>

 <%= render "search_form", soldier: @soldier %>
 <%= render "pager" %>
<div class="mb-3">
  <%= link_to "Grid", soldiers_path(request.query_parameters.merge(view: "grid")), class: "btn btn-sm btn-outline-secondary #{'active' if @view=='grid'}" %>
  <%= link_to "List", soldiers_path(request.query_parameters.merge(view: "list")), class: "btn btn-sm btn-outline-secondary #{'active' if @view=='list'}" %>
</div>

<% if @view == "list" %>
  <%= render "list", soldiers: @soldiers %>
<% else %>
  <% @soldiers.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |soldier| %>
        <div class="col mb-3">
          <%= render "card", soldier: soldier %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= render "pager" %>

