<h1><%= controller_name.titleize %></h1>

<p><%= link_to "New Census", new_census_path, class: "btn btn-primary" %></p>

<%= render partial: "search_form" %>

<% if @censuses.any? %>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Year</th>
        <th>District</th>
        <th>Subdistrict</th>
        <th>Place</th>
        <th>Piece</th>
        <th>Folio</th>
        <th>Page</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @censuses.each do |f| %>
        <tr>
          <td><%= f.year %></td>
          <td><%= f.district %></td>
          <td><%= f.subdistrict %></td>
          <td><%= f.place %></td>
          <td><%= f.piece %></td>
          <td><%= f.folio %></td>
          <td><%= f.page %></td>
          <td class="text-end">
            <%= link_to "View", census_path(f), class: "btn btn-sm btn-outline-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="mt-4">No results.</p>
<% end %>
