<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- cssbundling output -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- jsbundling (esbuild) output -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>



  

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  <%#= render 'layouts/navigation' %>

      <%#= render 'shared/notification' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  
  </body>
</html>

